.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem ;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    padding: 2rem;
}