.header{
    display: flex;
    justify-content: center;
    align-items: center;
        margin-bottom: 10rem;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    padding: 2rem;
}