
.food{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.food-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    gap:3rem;
    margin-bottom: 3rem;
}

.food-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.food-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid;
    border-radius: 10px;
    width: 20%;
    height: 40%;
    overflow: hidden;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite ;
    padding: 5rem;
}

.search-bar{
    
}

.search-bar input{
    padding: 1rem;
    border-radius: 20px;
    width: 100%;
}

.img-menu{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.deskripsi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.btn-action{
    padding: 0.7rem;
}

.deskripsi h3{
    margin-top: 0;
    margin-bottom: 0;
}

